  {% for ifName, ifDetails in yamlVar.openconfig_interfaces.interfaces.interface.items() -%}
  {{ ifDetails }}
  interface {{ ifName }}
    mtu {{ ifDetails.config.mtu }}
    description {{ ifDetails.config.description }}
    {% if ('Loopback' not in ifName) or ('Management' not in ifName) -%}
      no switchport
      {% endif -%}
    {% if ifDetails.config.enabled == true -%}
      no shutdown
    {% elif ifDetails.config.enabled == false -%}
      shutdown
    {% endif -%}
    {% set subIf = ifDetails.subinterfaces.subinterfaces -%}
    {% for subId, subDetails in subIf.items() -%}
      {% set subIfAddr = subDetails.ipv4.addresses.address -%}
      {% for _, addr in subIfAddr.items() -%}
        ip address {{ addr.config.ip }}/{{ addr.config.prefix_lenght }}
        {% endfor -%}
      {% endfor -%}
  {% endfor -%}
