{# phase1 set variables #}
{% set policyNumber = yamlVar[4].phase1.policyNumber %}
{% set ph1Authentication = yamlVar[4].phase1.authentication %}
{% set ph1Encryption = yamlVar[4].phase1.encryption %}
{# phase2 set variables #}
{% set ph2Authentication = yamlVar[5].phase2.authentication %}
{% set ph2Encryption = yamlVar[5].phase2.encryption %}
{# crypto set variables #}
{% set cryptoNumber = yamlVar[3].crypto.cryptoNumber %}

set security ike proposal {{ ph1Encryption|upper|replace('-CBC', '') }}_{{ ph1Authentication|upper }} authentication-method pre-shared-keys
set security ike proposal {{ ph1Encryption|upper|replace('-CBC', '') }}_{{ ph1Authentication|upper }} dh-group {{ yamlVar[4].phase1.dhGroup }}
set security ike proposal {{ ph1Encryption|upper|replace('-CBC', '') }}_{{ ph1Authentication|upper }} authentication-algorithm {{ authentication }}
set security ike proposal {{ ph1Encryption|upper|replace('-CBC', '') }}_{{ ph1Authentication|upper }} encryption-algorithm {{ ph1Encryption }}
set security ike proposal {{ ph1Encryption|upper|replace('-CBC', '') }}_{{ ph1Authentication|upper }} lifetime-seconds {{ yamlVar[4].phase1.lifetime }}

set security ike policy {{ policyNumber }} mode main
set security ike policy {{ policyNumber }} proposals {{ ph1Encryption|upper|replace('-CBC', '') }}_{{ authentication|upper }}
set security ike policy {{ policyNumber }} pre-shared-key ascii-text {{ yamlVar[4].phase1.preSharedKey }}

set security ike gateway {{ policyNumber }} ike-policy {{ yamlVar[4].phase1.policyNumber }}
set security ike gateway {{ policyNumber }} address {{ yamlVar[3].crypto.peer }}
set security ike gateway {{ policyNumber }} external-interface ge-0/0/0
set security ike gateway {{ policyNumber }} version {{ yamlVar[1].ikeVersion }}
{% if yamlVar[4].phase1.dpd[0].active == true -%}
set security ike gateway {{ policyNumber }} dead-peer-detection
{% endif %}

set security ipsec proposal {{ ph2Authentication|upper|replace('HMAC-', '') }}_{{ ph2Encryption|upper|replace('-CBC', '') }} protocol esp
set security ipsec proposal {{ ph2Authentication|upper|replace('HMAC-', '') }}_{{ ph2Encryption|upper|replace('-CBC', '') }} authentication-algorithm {{ ph2Authentication }}
set security ipsec proposal {{ ph2Authentication|upper|replace('HMAC-', '') }}_{{ ph2Encryption|upper|replace('-CBC', '') }} encryption-algorithm {{ ph2Encryption }}

set security ipsec policy {{cryptoNumber }} proposal {{ ph2Authentication|upper|replace('HMAC-', '') }}_{{ ph2Encryption|upper|replace('-CBC', '') }}
set security ipsec policy {{cryptoNumber }} lifetime-seconds {{ yamlVar[3].crypto.lifetime }}
{% if yamlVar[3].crypto.pfs[1].active == true -%}
set security ipsec policy {{cryptoNumber }} perfect-forward-secrecy keys {{ yamlVar[3].crypto.pfs[2].group }}
{% endif %}
set security ipsec vpn {{cryptoNumber }} ike gateway {{ yamlVar[4].phase1.policyNumber }}

set security ipsec vpn {{cryptoNumber }} ike ipsec-policy {{cryptoNumber }}
set security ipsec vpn {{cryptoNumber }} bind-interface {{ yamlVar[2].virtualInterface.interface }}
set security ipsec vpn {{cryptoNumber }} establish-tunnels immediately
{% if yamlVar[3].crypto.vpnMonitor[1].active == true -%}
set security ipsec vpn {{cryptoNumber }} vpn-monitor optimized source-interface {{ yamlVar[3].crypto.bindIf }} destination-ip {{ yamlVar[3].crypto.vpnMonitor[2].destIp }}
{% endif %}

{# Ver 2.0 - f180524 #}
