{# set variables #}
{% set phase1 = yamlVar[3].phase1 %}
{% set crypto = yamlVar[2].crypto %}
{% set phase2 = yamlVar[4].phase2 %}

{% if yamlVar[1].ikeVersion == 1 -%}
crypto ikev1 policy {{ phase1.policyNumber }}
  authentication pre-shared
  encryption {{ phase1.authentication }}
  hash {{ phase1.hash }}
  group {{ phase1.dhGroup }}
  lifetime {{ phase1.lifetime }}
{% elif yamlVar[1].ikeVersion == 2 -%}
crypto ikev2 policy {{ phase1.policyNumber }}
 encryption {{ phase1.authentication }}
 integrity {{ phase1.hash }}
 group {{ phase1.dhGroup }}
{% endif -%}
{% if phase1.prf[0].active == true and yamlVar[1].ikeVersion == 2 -%}
 prf {{ phase1.prf[1].hash }}
{% endif -%}
 lifetime seconds {{ phase1.lifetime }}
tunnel-group {{ crypto.peer }} type ipsec-l2l
tunnel-group {{ crypto.peer }} type ipsec-attributes
{% if yamlVar[1].ikeVersion == 1 -%}
  ikev1 pre-shared-key {{ phase1.preSharedKey }}
{% elif yamlVar[1].ikeVersion == 2 -%}
  ikev2 remote-authentication pre-shared-key {{ phase1.preSharedKey }}
  ikev2 local-authentication pre-shared-key {{ phase1.preSharedKey }}
{% endif -%}
{% if yamlVar[1].ikeVersion == 1 -%}
crypto ipsec ikev1 transform-set {{ phase2.encryption|upper|replace('ESP-', '') }}_{{ phase2.authentication|upper|replace('ESP-', '')|replace('-HMAC', '') }} {{ phase2.encryption }} {{ phase2.authentication }}
{% elif yamlVar[1].ikeVersion == 2 -%}
crypto ipsec ikev2 ipsec-proposal {{ phase2.encryption|upper }}_{{ phase2.authentication|upper }}
 protocol esp encryption {{ phase2.encryption }}
 protocol esp integrity  {{ phase2.authentication }}
{% endif -%}
{% if yamlVar[1].ikeVersion == 1 -%}
crypto map OUTSIDEMAP {{ crypto.cryptoNumber }} set ikev1 transform-set  {{ phase2.encryption|upper|replace('ESP-', '') }}_{{ phase2.authentication|upper|replace('ESP-', '')|replace('-HMAC', '') }}
{% elif yamlVar[1].ikeVersion == 2 -%}
crypto map OUTSIDEMAP {{ crypto.cryptoNumber }} set ikev2 ipsec-proposal {{ phase2.encryption|upper }}_{{ phase2.authentication|upper }}
{% endif -%}
crypto map OUTSIDEMAP {{ crypto.cryptoNumber }} set peer {{ crypto.peer }}
crypto map OUTSIDEMAP {{ crypto.cryptoNumber }} match address {{ yamlVar[5].splitTunnel.aclName }}
crypto map OUTSIDEMAP {{ crypto.cryptoNumber }} security-association lifetime seconds {{ crypto.lifetime }}

{% if crypto.pfs[0].active == true -%}
crypto map OUTSIDEMAP {{ crypto.cryptoNumber }} set pfs {{ crypto.pfs[1].group }}
{% endif -%}

{# Ver 2.0 - f180524 #}
